body, html {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    /* width: 100vmin;
    height: 100vmax; */
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Crimson Text', serif; */
  
    /* background-repeat: no-repeat; */
}

.body-container {
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: rgba(0, 197, 223, 0.4); */
    /* background: linear-gradient(#ea6731, #241a33); */
    background-color: rgba(133,171,150, 0.5);


    /* border: 1px solid red; */
}


#rock-paper-scissors-head {
    font-weight: 500;
    margin-top: 25px;
    /* border: 1px solid black; */
}


@media all and (max-width: 600px) {
    #rock-paper-scissors-head {
        margin-top: 15px;
    }
}


.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
    width: 100%;

    /* border: 1px solid black; */

}

@media all and (max-width: 600px) {
    .images {
        margin-top: 10px;
        width: 100%;
    }
}


@media all and (max-width: 600px) {
    #top-logo-rock {
        width: 50px;
        height: 50px;
    }
}

@media all and (max-width: 600px) {
    #top-logo-paper {
        width: 50px;
        height: 50px;
    }
}

@media all and (max-width: 600px) {
    #top-logo-scissors {
        width: 50px;
        height: 50px;
    }
}





.game-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 3px solid black;  */

    width: 75%; /* of whole page */
    margin-top: 30px;
    /* padding: 10px; */
}

@media all and (max-width: 600px) {
    .game-options {
        width: 100%;
        margin-top: 10px;
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    .game-options {
        width: 85%;
    }
}



#start-game {
    border-radius: 10px;
    color: white;
    background-color: #211931;
    opacity: .8;
    /* border: 1px solid rgba(163, 161, 161, .4); */
    border: none;
    padding: 5px 10px;
    transition: all .2s ease-in;
    width: 50%; /* of game options box */
    margin-top: 5px;
    height: 30px;
    /* height: 20%; */
    text-align: center;
    font-size: 1em;
    font-weight: 400;

    /* border: 3px solid black; */

    /* padding: 10px; */
}

#start-game:hover {
    opacity: .4;
}

@media all and (max-width: 600px) {
    #start-game {
        width: 45%;
        height: 50px;
    }
}
@media all and (min-width: 600px) and (max-width: 800px) {
    #start-game {
        width: 55%;
        height: 40px;
    }
}











/* FORM */

.playerInputRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; /* of game options box */
    height: 40px;
    /* border: 1px solid red; */

    margin-top: 40px;
    /* margin-right: 10px;
    margin-left: 10px; */
}

@media all and (max-width: 600px) {
    .playerInputRow {
        height: 15%;
        margin-top: 25px;
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    .playerInputRow {
        width: 100%;
        margin-top: 30px;
        /* height: 20%; */
        /* height: 40px; */
        /* background-color: blue; */
    }
}




#selection-text {
    color: #211931;
    /* font-weight: 400; */
    font-weight: 400;
    margin: 10px;
    width: 25%;
    /* border: 1px solid black; */
    text-align: center;
    /* height: 50%; */
    /* float: left;
    display: block; */
}

#selection-text:after {
    content: ": ";
}

@media all and (max-width: 600px) {
    #selection-text {
        color: #211931;
        width: 25%;
        font-size: 1.1em;
        /* line-height: inherit; */
        font-weight: 400;
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    #selection-text {
        /* width: 55%; */
        height: 40px;
    }
}



#playerChoice {
    /* margin-top: 40px; */
    border-radius: 5px;
    background-color: rgba(163, 161, 161, .4);
    opacity: .8;
    /* border: 1px solid rgba(163, 161, 161, .4); */
    border: none;
    padding: 5px 10px;
    transition: all .4s ease-in;
    width: 50%;
    /* height: 35%; */
    /* margin: 10px; */
}

@media all and (max-width: 600px) {
    #playerChoice {
        width: 50%;
        font-size: 1.1em;
        font-weight: 400;
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    #playerChoice {
        /* width: 55%; */
        height: 20px;
        font-size: 1em;
    }
}


#playerChoice::placeholder {
    color: black;
    font-weight: 400;
    text-align: center;
    opacity: .5;
    font-size: 1.1em;
}


#submit-btn {
    border-radius: 5px;
    color: white;
    color: #ccdcce;
    background-color: #211931;
    opacity: .8;
    /* border: 1px solid rgba(163, 161, 161, .4); */
    border: none;
    padding: 5px 10px;
    transition: all .4s ease-in;
    width: 25%;
    /* height: 55%; */
    /* justify-content: flex-end; */
    margin: 10px;
    font-weight: 400;
}

#submit-btn:hover {
    opacity: .6;
}

@media all and (max-width: 600px) {
    #submit-btn {
        width: 25%;
        font-size: 1.1em;
        font-weight: 400;
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    #submit-btn {
        /* width: 55%; */
        font-size: 1em;
        height: 30px;
        font-weight: 400;
    }
}


/* OR CLICK ON BUTTONS */

#or-click {
    margin-top: 25px;
    font-weight: 400;

    /* border: 1px solid black; */
}











/* rock paper scissors input buttons */
.button-options {
    /* border: 1px solid black; */

    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
}

@media all and (max-width: 600px) {
    .button-options {
        width: 100%;
        /* height: 50px */
        justify-content: space-evenly;
        /* margin: 5px; */
        /* margin: 20px; */
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    .button-options {
        width: 100%;
        justify-content: space-evenly;
        /* font-size: 1em; */
        /* height: 30px; */
        /* font-weight: 400; */
        
    }
}

#rock-btn {
    border-radius: 5px;
    background-color: #211931;
    color: #ccdcce;
    opacity: .8;
    border: 1px solid rgba(0, 0, 0, .4);
    padding: 5px 10px;
    transition: all .4s ease-in;
    font-weight: 100;
    width: 20%;
    margin: 5px;
    text-align: center;
    /* margin-top: 10px; */
}

@media all and (max-width: 600px) {
    #rock-btn {
        width: 33%;
        margin: 10px;
        font-size: 1.1em;
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    #rock-btn {
        font-weight: 400;
        font-size: 1em;
        width: 25%;
    }
}

#paper-btn {
    border-radius: 5px;
    background-color: #211931;
    color: #ccdcce;
    opacity: .8;
    border: 1px solid rgba(0, 0, 0, .4);
    padding: 5px 10px;
    transition: all .4s ease-in;
    font-weight: 100;
    width: 20%;
    margin: 5px;
    text-align: center;
    /* margin-top: 10px; */
}

@media all and (max-width: 600px) {
    #paper-btn {
        width: 33%;
        margin: 10px;
        font-size: 1.1em;
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    #paper-btn {
        font-weight: 400;
        font-size: 1em;
        width: 25%;
    }
}

#scissors-btn {
    border-radius: 5px;
    background-color: #211931;
    color: #ccdcce;
    opacity: .8;
    border: 1px solid rgba(0, 0, 0, .4);
    padding: 5px 10px;
    transition: all .4s ease-in;
    font-weight: 100;
    width: 20%;
    margin: 5px;
    text-align: center;
    /* margin-top: 10px; */
}

@media all and (max-width: 600px) {
    #scissors-btn {
        width: 33%;
        margin: 10px;
        font-size: 1.1em;
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    #scissors-btn {
        font-weight: 400;
        font-size: 1em;
        width: 25%;
    }
}














/* RESULTS BOX */

.results {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
    margin-top: 50px;
    /* margin-bottom: 10px; */
    padding: 10px;

    border: 2px solid black;

    width: 75%;
    height: 40%;
}

/* @media all and (max-width: 812px) {
    .results {
        width: 75%;
        height: 47%;
    }
} */

@media all and (max-width: 600px) {
    .results {
        width: 100%;
        height: 35%;
        margin-top: 25px; /* to game options box */
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    .results {
        width: 85%;
        height: 40%;
        margin-top: 40px;
    }
}



/* image box */
.imageResult {
    width: 100%;

    /* border: 2px solid black; */

    padding: 5px;
    /*temporary*/
    display: flex;
    justify-content: space-evenly;
}

@media all and (max-width: 600px) {
    .imageResult {
        width: 100%; /*of results box */
        /* margin: 10px; */
        /* height: 40%;
        margin-top: 25px; */
    }
}


#rock-result {
    /* border: 1px solid black; */
    padding: 5px;
}

@media all and (max-width: 600px) {
    #rock-result {
        width: 50px;
        height: 50px;
    }
}

#paper-result {
    /* border: 1px solid black; */
    padding: 5px;
}

@media all and (max-width: 600px) {
    #paper-result {
        width: 50px;
        height: 50px;
    }
}

#scissors-result {
    /* border: 1px solid black; */
    padding: 5px;
}

@media all and (max-width: 600px) {
    #scissors-result {
        width: 50px;
        height: 50px;
    }
}







/* SHOW SELECTIONS IN RESULTS BOX */

#show-selections {
    display: flex;
    /* flex-direction: column;  */
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    color: black;
    font-weight: 400;
    width: 100%;

    /* border: 2px solid black; */

    margin-top: 50px;
}

@media all and (max-width: 600px) {
    #show-selections {
        margin-top: 20px;
        justify-content: space-evenly;
        font-size: .8em;
        padding: 10px;
        margin-bottom: 10px;
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    #show-selections {
        justify-content: space-evenly;
        padding: 5px;
        margin-top: 25px;
    }
}

#player-result  {
    font-weight: 400;
    font-size: 1em;
    /* margin-right: 50px; */
    /* margin: 5px; */

    /* border: 1px solid black; */
}

#computer-result {
    font-weight: 400;
    font-size: 1em;
    /* margin-left: 50px; */
    /* margin: 5px; */

    /* border: 1px solid black; */
}






/* COUNTERS */ 
.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /* border: 2px solid black; */

    width: 100%;
    margin-top: 15px;
    /* margin: 5px; */
}

@media all and (max-width: 600px) {
    .counter {
        /* height: 1.5em; */
        /* height: 25%; */
        width: 100%;
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    .counter {
        width: 100%;
        /* margin: 0; */
    }
}

#player-count {

    /* border: 1px solid black; */

    /* margin-right: 110px; */
    padding: 5px;
}
#computer-count {

    /* border: 1px solid black; */

    /* margin-left: 110px; */
    padding: 5px;
}





/* WINNER RESULT */
#winner {
    text-align: center;
    margin-top: 50px;
    font-weight: 900;

    /* border: 1px solid black; */
}

@media all and (max-width: 600px) {
    #winner {
        margin-top: 25px;
        /* margin-bottom: 25px; */
    }
}


@media all and (min-width: 600px) and (max-width: 800px) {
    #winner {
        margin-top: 30px;
    }
}





/* CLEAR BUTTON */ 

.clear-btn {
    width: 50%;
    display: flex;
    justify-content: center;
    /* color: #ccdcce; */

    /* border: 1px solid black; */

    margin-top: 25px;
    margin-bottom: 25px;
}

@media all and (max-width: 600px) {
    .clear-btn {
        align-items: center;
        justify-content: center;
    }
}

#clear-btn-one {
    border-radius: 10px;
    color: white;
    color: #ccdcce;
    background-color: #211931;
    opacity: .8;
    border: 1px solid rgba(163, 161, 161, .4);
    padding: 5px 10px;
    transition: all .4s ease-in;
    width: 50%;
    height: 30px;
}

@media all and (max-width: 600px) {
    #clear-btn-one {
        /* margin-bottom: 10px; */
        height: 100%;
        width: 75%;
        font-size: 1.1em;
        font-weight: 400;
    }
}

@media all and (min-width: 600px) and (max-width: 800px) {
    #clear-btn-one {
        height: 40px;
        font-size: 1em;
        font-weight: 400;
    }
}















/* VISIBILITY */


.vis-Hidden {
    visibility: hidden;
    transition: all .5s ease-in;
}

.showGame {
    transition: all .5s ease-in;
    visibility: visible;
}

.showRock {
    visibility: visible;
}
.showPaper {
    visibility: visible;
}
.showScissors {
    visibility: visible;
}