body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.body-container {
    /* background: linear-gradient(#ea6731, #241a33); */
    background-color: rgba(133,171,150, 0.5);
    /* background-color: rgba(133,171,150, 0.5); */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#rock-paper-scissors-head {
    margin-top: 125px;
    font-size: 2em;
    /* width: 50%; */
    /* -webkit-text-shadow: 12px 12px 19px -8px rgba(0,0,0,0.76);
    -moz-text-shadow: 12px 12px 19px -8px rgba(0,0,0,0.76);
    text-shadow: 12px 12px 19px -8px rgba(0,0,0,0.76); */

    color: #ccdcce;
    color: #211931;

    /* background: white; */
    /* background: linear-gradient(#e66465, #9198e5); */
    /* text-shadow: 0 0 15px rgba(192,159,52, .76), 0 0 10px rgba(192,159,52, .76); */
    text-shadow: 0 0 15px rgba(92,40,59, 0.4), 0 0 10px rgba(92,40,59, 0.4);
    font-weight: 100;
    padding: 10px;
}

@media all and (max-width: 800px) {
    #rock-paper-scissors-head {
        width: 100%;
        font-size: 1.5em;
    }
}

@media all and (max-width: 500px) {
    #rock-paper-scissors-head {
        width: 100%;
        font-size: 1.5em;
        margin-top: 50px;
    }
}

#start-game {
    margin-top: 125px;
    border-radius: 15px;
    color: #b0b3a8;
    color: #211931;
    color: rgba(133,171,150, 0.5);
    border: none;
    /* border: .5px solid rgba(228,101,50, .6); */
    background-color: rgba(92,40,59, 1.0);
    height: 50px;
    width: 200px;
    -webkit-box-shadow: 12px 12px 19px -8px rgba(0,0,0,0.76);
    -moz-box-shadow: 12px 12px 19px -8px rgba(0,0,0,0.76);
    box-shadow: 12px 12px 19px -8px rgba(0,0,0,0.76);

    font-size: 1.3em;
    font-weight: 100;
    transition: all .3s ease-in;
    opacity: .7;
}

@media all and (max-width: 600px) {
    #start-game {
        margin-top: 75px;
    }
}

#start-game:hover {
    opacity: .4;
}

.bgImg {
    background-image: url("spaceRPS.jpg");
    background-color: #cccccc;
    height: 425px;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
    margin: 10px;
    margin-top: 25px;
    -webkit-box-shadow: 12px 12px 19px -8px rgba(0,0,0,0.76);
    -moz-box-shadow: 12px 12px 19px -8px rgba(0,0,0,0.76);
    box-shadow: 12px 12px 19px -8px rgba(0,0,0,0.76);
}

@media all and (max-width: 800px) {
    .bgImg {
        /* background-repeat: inherit;
        background-position: inherit; */
        width: 90%;
        height: 375px;
    }
}

@media all and (max-width: 500px) {
    .bgImg {
        /* background-repeat: inherit;
        background-position: inherit; */
        width: 90%;
        height: 300px;
    }
}