body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Crimson Text', serif; */
  
    /* background-repeat: no-repeat; */
}

.body-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background-color: rgba(0, 197, 223, 0.4); */
    /* background: linear-gradient(#ea6731, #241a33); */
    background-color: rgba(133,171,150, 0.5);
}


#rock-paper-scissors-head {
    font-weight: 200;
    margin-top: 25px;
}


.game-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 3px solid black;  */

    width: 50%; /* of whole page */
    margin-top: 30px;
    /* padding: 10px; */
}

@media all and (max-width: 600px) {
    .game-options {
        width: 100%;
    }
}

@media all and (min-width: 601px) and (max-width: 900px) {
    .game-options {
        width: 65%;
    }
}



#start-game {
    border-radius: 10px;
    color: white;
    background-color: #211931;
    opacity: .8;
    border: 1px solid rgba(163, 161, 161, .4);
    padding: 5px 10px;
    transition: all .4s ease-in;
    width: 50%; /* of game options box */
    margin-top: 5px;
    height: 30px;
    /* height: 20%; */
    text-align: center;
    font-size: 1.1em;
    font-weight: 100;
}

#start-game:hover {
    opacity: .4;
}

@media all and (max-width: 600px) {
    #start-game {
        width: 45%;
        height: 50px
    }
}




/* FORM */

.playerInputRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; /* of game options box */

    /* border: 1px solid black; */

    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
}

@media all and (max-width: 600px) {
    .playerInputRow {
        height: 25%;
    }
}

#selection-text {
    font-weight: 200;
    margin: 10px;
    width: 25%;
    /* border: 1px solid black; */
    text-align: center;
}

@media all and (max-width: 600px) {
    #selection-text {
        width: 30%;
        font-size: 1.2em;
        font-weight: 100;
    }
}

#playerChoice {
    /* margin-top: 40px; */
    border-radius: 5px;
    background-color: rgba(163, 161, 161, .4);
    opacity: .8;
    border: 1px solid rgba(163, 161, 161, .4);
    padding: 5px 10px;
    transition: all .4s ease-in;
    width: 50%;
    /* margin: 10px; */
}

@media all and (max-width: 600px) {
    #submit-btn {
        width: 40%;
        font-size: 1em;
        font-weight: 100;
    }
}

#playerChoice::placeholder {
    color: black;
    font-weight: 400;
    text-align: center;
    opacity: .5;
    font-size: 1.1em;
}


#submit-btn {
    border-radius: 5px;
    color: white;
    background-color: #211931;
    opacity: .8;
    border: 1px solid rgba(163, 161, 161, .4);
    padding: 5px 5px;
    transition: all .4s ease-in;
    width: 25%;
    justify-content: flex-end;
    margin: 10px;
}

@media all and (max-width: 600px) {
    #submit-btn {
        width: 30%;
        font-size: 1em;
        font-weight: 100;
    }
}




/* OR CLICK ON BUTTONS */

#or-click {
    margin-top: 25px;
    font-weight: 200;
}


.vis-Hidden {
    visibility: hidden;
    transition: all .5s ease-in;
}

.showGame {
    transition: all .5s ease-in;
    visibility: visible;
}


.button-options {
    /* border: 1px solid black; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

@media all and (max-width: 600px) {
    .button-options {
        width: 100%;
        /* height: 50px */
        justify-content: space-evenly;
        /* margin: 20px; */
    }
}

#rock-btn {
    border-radius: 5px;
    background-color: #211931;
    color: #ccdcce;
    opacity: .8;
    border: 1px solid rgba(0, 0, 0, .4);
    padding: 5px 10px;
    transition: all .4s ease-in;
    font-weight: 100;
    width: 20%;
    margin: 5px;
    text-align: center;
    /* margin-top: 10px; */
}

@media all and (max-width: 600px) {
    #rock-btn {
        width: 33%;
        margin: 10px;
        font-size: 1.1em;
    }
}

#paper-btn {
    border-radius: 5px;
    background-color: #211931;
    color: #ccdcce;
    opacity: .8;
    border: 1px solid rgba(0, 0, 0, .4);
    padding: 5px 10px;
    transition: all .4s ease-in;
    font-weight: 100;
    width: 20%;
    margin: 5px;
    text-align: center;
    /* margin-top: 10px; */
}

@media all and (max-width: 600px) {
    #paper-btn {
        width: 33%;
        margin: 10px;
        font-size: 1.1em;
    }
}

#scissors-btn {
    border-radius: 5px;
    background-color: #211931;
    color: #ccdcce;
    opacity: .8;
    border: 1px solid rgba(0, 0, 0, .4);
    padding: 5px 10px;
    transition: all .4s ease-in;
    font-weight: 100;
    width: 20%;
    margin: 5px;
    text-align: center;
    /* margin-top: 10px; */
}

@media all and (max-width: 600px) {
    #scissors-btn {
        width: 33%;
        margin: 10px;
        font-size: 1.1em;
    }
}












/* RESULTS BOX */

.results {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;

    border: 3px solid black;

    width: 50%;
    height: 40%;
}

@media all and (max-width: 812px) {
    .results {
        width: 75%;
        height: 47%;
    }
}

@media all and (max-width: 600px) {
    .results {
        width: 75%;
        height: 40%;
    }
}


#show-selections {
    display: flex;
    /* flex-direction: column;  */
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    color: black;
    font-weight: 300;
    width: 100%;

    /* border: 1px solid black; */

    margin-top: 150px;
}

@media all and (max-width: 600px) {
    #show-selections {
        margin-top: 150px;
        justify-content: space-evenly;
        font-size: .8em;
    }
}

#player-result  {
    font-weight: 400;
    font-size: 1em;
    /* margin-right: 50px; */
    margin: 5px;
}

#computer-result {
    font-weight: 400;
    font-size: 1em;
    /* margin-left: 50px; */
    margin: 5px;
}


#winner {
    text-align: center;
    margin-top: 125px;
    font-weight: 900;
}

.clear-btn {
    width: 50%;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    margin-top: 20px;
    margin-bottom: 25px;
}

#clear-btn-one {
    border-radius: 10px;
    color: white;
    background-color: #211931;
    opacity: .8;
    border: 1px solid rgba(163, 161, 161, .4);
    padding: 5px 10px;
    transition: all .4s ease-in;
    width: 50%;
    height: 30px;
}

@media all and (max-width: 600px) {
    #clear-btn-one {
        margin-bottom: 10px;
        height: 50px;
        width: 75%;
        font-size: 1.1em;
        font-weight: 100;
    }
}